{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Username settings
{% endblock title %}

{% block page_heading %}
    Username settings
{% endblock page_heading %}

{% block content %}
<div class="col-lg-12">

    <!-- Settings card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Change username</h6>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}

                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.errors.0 }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <!-- save changes button -->
                <div class="row no-gutters align-items-right">
                    <div class="col mr-2">
                    </div>
                    <div class="col-auto form-group">
                        <button type="submit" value="ChangeUsername" class="btn btn-light btn-icon-split">
                            <span class="icon text-gray-600">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Save changes</span>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

{% endblock content %}