{% extends 'friends/common.html' %}
{% load static %}

{% block title %}
    Received invites
{% endblock title %}

{% block page_heading %}
    Received invites
{% endblock page_heading %}

{% block user_card %}
    <div class="col-auto text-center mb-2">
        <a class="btn btn-success btn-icon-split" href="{% url 'friends-invitation-accept' user.id %}">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Accept</span>
        </a>
    </div>
    <div class="col-auto text-center">
        <a class="btn btn-danger btn-icon-split" href="{% url 'friends-invitation-decline' user.id %}">
            <span class="icon text-white-50">
                <i class="fas fa-times"></i>
            </span>
            <span class="text">Decline</span>
        </a>
    </div>
{% endblock user_card %}
