{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Request games
{% endblock title %}

{% block styles %}
<style>
    .slanted-card {
        position: relative;
        overflow: hidden;
    }

    .slanted-card::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 10%;
        height: 100%;
        background-color: #ffdf4f; /* You can set the background color to match your design */
        transform: skew(45deg); /* Adjust the skew angle as needed */
        transform-origin: top right;
        z-index: 0;
    }

    .tooltip-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 10%;
        height: 50%;
        transform: skew(45deg); /* Adjust the skew angle as needed */
        transform-origin: top;
        z-index: 1; /* Place the tooltip container above the slanted section */
    }

    .tooltip-inner {
        background-color: #ffdf4f; /* Set your desired background color */
        color: #000000; /* Set the text color */
        text-align: center;
        border-radius: 5px; /* Optional: Add rounded corners */
    }
    .tooltip.bs-tooltip-bottom .arrow:before {
        border-bottom-color: #ffdf4f !important;
    }
    .tooltip.bs-tooltip-top .arrow:before {
        border-top-color: #ffdf4f !important;
    }

</style>
{% endblock styles %}

{% block page_heading %}
    Request games
{% endblock page_heading %}

{% block content %}
<div class="col-lg-12">

    <!-- Search -->
    <div class="row mb-4">
        <form method="get" action="{% url 'games:request_games' %}" class="mr-auto ml-3 my-2 my-md-0 navbar-search">
            <div class="input-group">
                <input type="text" name="name" id="name" value="{{ name }}" class="form-control bg-white border-2 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <select name="name_type" class="form-control">
                    <option value="all">All</option>
                    <option value="primary">Primary</option>
                    <option value="alternate">Alternate</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Results -->
    <div class="row align-items-stretch">
        {% for game in games %}
            {% if forloop.counter0|divisibleby:2 %}
                </div><div class="row align-items-stretch">
            {% endif %}
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                <!-- Game Info -->
                <div class="card shadow h-100 {% if game.game_request %}slanted-card{% endif %}">
                    <div class="card-body d-flex flex-column m-1">
                        <a href="{% url 'games:details_bgg' game.bgg_id %}">
                            <h5 class="mb-2 font-weight-bold text-primary text-truncate flex-fill">{{ game.name }}</h5>
                            {% if details.release_year != '0' %}
                                <h6 class="mb-2 text-secondary text-truncate flex-fill">{{ game.release_year }}</h6>
                            {% else %}
                                <h6 class="mb-2 text-secondary text-truncate flex-fill">Unknown release date</h6>
                            {% endif %}
                        </a>
                        {% if game.game_request %}
                        <div class="tooltip-container" data-toggle="tooltip" data-placement="top" title="This game is requested to be added by community!">&nbsp;</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <h2 class="mb-2 font-weight-bold text-primary text-center text-truncate flex-fill">
                No results found!
            </h2>
        {% endfor %}
    </div>
    <!-- End of results -->

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
        <div class="pagination justify-content-center mt-4">
            <span class="step-links">
                {% with url='name='|add:name|add:'&name_type='|add:name_type %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary btn-circle mb-4" href="?{{ url }}&page=1">
                        <i class="fas fa-caret-left"></i><i class="fas fa-caret-left"></i>&#160
                    </a>
                    <a class="btn btn-outline-primary btn-circle mb-4 mr-3" href="?{{ url }}&page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-caret-left"></i>&#160
                    </a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary btn-circle mb-4" href="?{{ url }}&page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                        <a class="btn btn-outline-primary btn-circle mb-4" href="?{{ url }}&page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary btn-circle mb-4 ml-3" href="?{{ url }}&page={{ page_obj.next_page_number }}">
                        &#160<i class="fas fa-caret-right"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-circle mb-4" href="?{{ url }}&page={{ page_obj.paginator.num_pages }}">
                        &#160<i class="fas fa-caret-right"></i><i class="fas fa-caret-right"></i>
                    </a>
                {% endif %}
                {% endwith %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
<script>
    // Enable Bootstrap tooltips only on slanted section
    $(document).ready(function(){
        $('.slanted-card [data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock script %}
