{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Board game search
{% endblock title %}

{% block page_heading %}
    Board game search
{% endblock page_heading %}

{% block content %}
<div class="col-lg-12">

    <!-- Search -->
    <div class="row mb-4">
        <form method="get" action="{% url 'boardgames:search' %}" class="mr-auto ml-3 my-2 my-md-0 navbar-search">
            <div class="input-group">
                <input type="text" name="name" id="name" value="{{ name }}" class="form-control bg-white border-2 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <select name="name_type" class="form-control">
                    <option value="all">All</option>
                    <option value="primary">Primary</option>
                    <option value="alternate">Alternate</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Results -->
    <div class="row align-items-stretch">
        {% for boardgame in boardgames %}
            {% if forloop.counter0|divisibleby:2 %}
                </div><div class="row align-items-stretch">
            {% endif %}
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                <!-- Game Info -->
                <div class="card shadow h-100">
                    <div class="card-body d-flex flex-column m-1">
                        <a href="{% url 'boardgames:details_bgg' boardgame.id %}">
                            <h5 class="mb-2 font-weight-bold text-primary text-truncate flex-fill">{{ boardgame.name }}</h5>
                            <h6 class="mb-2 text-secondary text-truncate flex-fill">{{ boardgame.release_year }}</h6>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h2 class="mb-2 font-weight-bold text-primary text-center text-truncate flex-fill">
                No results found!
            </h2>
        {% endfor %}
    </div>
    <!-- End of results -->

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
        <div class="pagination justify-content-center mt-4">
            <span class="step-links">
                {% with url='name='|add:name|add:'&name_type='|add:name_type %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary btn-circle mb-4" href="?{{ url }}&page=1">
                        <i class="fas fa-caret-left"></i><i class="fas fa-caret-left"></i>&#160
                    </a>
                    <a class="btn btn-outline-primary btn-circle mb-4 mr-3" href="?{{ url }}&page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-caret-left"></i>&#160
                    </a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary btn-circle mb-4" href="?{{ url }}&page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                        <a class="btn btn-outline-primary btn-circle mb-4" href="?{{ url }}&page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary btn-circle mb-4 ml-3" href="?{{ url }}&page={{ page_obj.next_page_number }}">
                        &#160<i class="fas fa-caret-right"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-circle mb-4" href="?{{ url }}&page={{ page_obj.paginator.num_pages }}">
                        &#160<i class="fas fa-caret-right"></i><i class="fas fa-caret-right"></i>
                    </a>
                {% endif %}
                {% endwith %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}